/* -> PokerPlanning Layout ---- */
@import "packages/poker_planning_client/components/core.css";

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    background-color: #fff;
    color: #3f3f3f;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.2em;
}

:focus {
    outline: 0;
}

/* -- Document container ----- */

.container {
    width: 960px;
    margin: 0 auto;

    position: relative;
}

/* --> Header section -------- */

header {
    background-color: #3f3f3f;
    color: #fff;

    padding: 3em 0 1.4em;
    margin-bottom: 2em;
}

#loggedIn {
    position: absolute;
    bottom: -0.3em;
    right: 0;
}

/* --> App content ----------- */

#actions {
    text-align: center;
}
